.head {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: flex-end;   /* todo a la derecha */
  padding: 0 16px;             /* separación del borde derecho */
  background: #0c1b33;
  box-sizing: border-box;
}
/*
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3vw;
  width: 100%;
}
*/
.configButtons {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 25px; /* Ajusta el espacio entre los elementos */
}

.language-dropdown {
  display: flex;
  align-items: center;
  flex: 0 0 auto; /* Permite que ocupe el espacio necesario */
  border: none;
}

.configButtons i {
  font-size: 30px; /* Ajusta el tamaño de los íconos */
}
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 150px; /* Ajusta el ancho del botón */
  height: 50px; /* Ajusta la altura del botón */
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin-left: 8px
}

.logout-button img,
.logout-button svg, /* Asegura que los iconos también se ajusten */
.logout-button i {
  width: 30px; /* Ajusta el tamaño del icono dentro del botón */
  height: 30px;
}

.logout-button:hover {
  color: red;
  border-color: transparent;
}

@media only screen and (768px <= width <= 1024px) {
  .title {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 8vw;
  }
}
