.dashboard-content {
  flex: 1;
  text-align: center;
  padding: 15px 35px;
}

.dashboard-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo de las cards para tener 3, 4 o 5 cards en fila */
  align-items: stretch;
}

@media only screen and (max-width: 768px) {
  .status-card {
    width: 100%;
  }
}