.status-card {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f4b400; /* ejemplo */
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  aspect-ratio: 16 / 9;
}

.status-card-main {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.status-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.status-count {
  font-size: 60px;
  font-weight: bold;
}

.status-title {
  font-size: 18px;
}

.status-card-footer {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.status-footer-label {
  font-size: 11px;
  font-weight: 600;
}